.modal-container {
    position: absolute;
    bottom: 18px;
    background-color: #FFF;
    padding: 14px;
    width: 700px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    animation: pop 0.7s;
}

@keyframes pop {

    0% {
        width: 0px;
        height: 0px;
        opacity: 0;
        bottom: 50px;
    }

    100% {
        width: 700px;
        height: 143px;
        opacity: 1;
        bottom: 18px;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;

    animation: appear 0.7s;

}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal-header button {
    border: 0;
    background: transparent; 
       
}

.modal-container span {
    margin: 14px 0;
    color: #A7A7A7;
}

.modal-link {
    background: #172742;
    display: flex;
    justify-content: space-between;
    align-items:center;

    padding: 0 14px;
    height: 38px;
    border: 0;
    border-radius: 4px;

    color: #FFF;

    animation: appear 0.7s;
}

@media (max-width: 750px) {
    .modal-container {
        width: 90%;
    }
}